

.services-title{
    text-align: center;
}
.service-container{
    text-align: center;
}
.services-title span{

    border-left: 3px solid #00A3E1;
    border-right: 3px solid #00A3E1;
    padding-left: 10px;
    padding-right: 10px;
}
.services h3{
    color: white;
    font-family: serif;
}
.services p{
    color: white;
}
.services span{
    color: #5078ff;
    font-size: 56px;
}

/************* Mobile *************/
@media screen and (max-width: 576px) {
    .services{
        display: grid;
        grid-column: 1;
    }
}
/************* Tablet *************/
@media screen and (max-width: 992px) {
    .services{
        display: grid;
        grid-column: 2;
    }
}